/*The skills lists element*/
ul.skills-list{
    color: black;
}

/*Animating individual list element*/
li.list-item:hover{
    font-size: larger;
}

/*The skills summary element*/
p.skills-summary{
    color: black;
}

#social-media-links{
    margin-top: 35px;
}